[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = filter-branch replacement
[access "refs/*"]
	owner = group user/Elijah Newren (newren)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Elijah Newren (newren)
	label-Verified = -1..+1 group user/Elijah Newren (newren)
	push = group user/Elijah Newren (newren)
	read = group user/Elijah Newren (newren)
	rebase = group user/Elijah Newren (newren)
	removeReviewer = group user/Elijah Newren (newren)
	submit = group user/Elijah Newren (newren)
[access "refs/heads/*"]
	create = group user/Elijah Newren (newren)
	push = +force group user/Elijah Newren (newren)
	pushMerge = group user/Elijah Newren (newren)
	read = group user/Elijah Newren (newren)
[access "refs/tags/*"]
	push = group user/Elijah Newren (newren)
	push = +force group user/Elijah Newren (newren)
